.logo {
  display: block;
  width: auto;
  height: 2.5rem;
  overflow: visible;
}

.xl {
  height: auto;
  width: clamp(15rem, 6rem + 40vw, 40rem);
}

@media (min-width: 64rem) {
  .m {
    height: 2.875rem;
  }
}
